<!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    

    <!-- JQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>


    <!-- font Awesome library -->
    <script src="https://kit.fontawesome.com/c53827b8c0.js" crossorigin="anonymous"></script>

    <!-- Custom js  -->
    <!-- Styles the home and signout btn in the after login pages -->
    <%if(locals.user){%>
      <script src="/js/home.js"></script>
      <script>
        $(function () {
          $('[data-toggle="tooltip"]').tooltip({placement: 'right'});
        })
      </script>
    <%}%>
    
    <!-- Custom JS files -->
    <%- script %>
    
  </body>
</html>