<div class="container-fluid w-100">
    <div class="container col-sm-12 col-md-10 col-lg-5 bg-warning border rounded">
        <div class="text-dark display-5 py-3">
            Add Company Form
        </div>
        <form action="/posts/create-company" method="post">
            <!-- Contains Company Name -->
            <div class="row text-dark my-3">
                <div class="col-sm-auto d-flex align-items-center justify-content-center fs-5">
                    <label for="result">Company Name</label>
                </div>
                <div class="col-sm-12">
                    <input type="text" class="form-control" id="companyName" name="companyName" placeholder="Company Name" required>
                </div>
            </div>
            <!-- Date of Interview -->
            <div class="row text-dark my-3">
                <div class="col-sm-auto d-flex align-items-center justify-content-center fs-5">
                    <label for="result">Date Of Interview</label>
                </div>
                <div class="col-sm-12">
                    
                    <input type="date" class="form-control" id="doi" min="2017-01-01" name="doi" max="2022-04-17" required>
                </div>
            </div>
            <!-- jobless Students List  -->
            <div class="row text-dark my-3">
                <div class="col-sm-auto d-flex align-items-center justify-content-center fs-5">
                    <label for="result">Student List</label>
                </div>
                <div class="col-sm-12">
                    <!-- Multiple select dropdown box -->
                    <select class="country" multiple name="students" id="" required>
                        <% jobless.forEach(function(element){ %>
                            <option value="<%= element._id %>">
                                <%= element.studentName %>
                            </option>
                        <% }); %>
                    </select>
                </div>
            </div>
            <!-- Submit button -->
            <div class="row d-flex justify-content-center">
                <button type="submit" class="col-auto btn btn-primary my-3">Submit</button>
            </div>
        </form>
    </div>
</div>