<%- include('_header'); %>
    
  <%if(locals.user){%>
    <!-- left navigation section -->
    <div class="container-fluid bg-dark min-vh-100 w-100">
      <div class="row">
        <!-- Giving padding for the list -->
          <nav class="col-2 bg-dark py-2">
            <!-- Navigation list and their buttons -->

            <div class="row py-2">
              <a href="/" class="" style="text-decoration: none;">
                <button type="button" class="btn btn-outline-light btn-block mx-2" data-toggle="tooltip" data-placement="top" title="Student Register">
                  <i class=" fa-solid fa-file-arrow-down"></i>
                </button>
                <span class="text-capitalize fs-5 d-none d-lg-inline text-light ">
                  Student Register
                </span>
              </a>
            </div>

            <div class="row py-2 ">
              <a href="/" class="" style="text-decoration: none;">
                <button type="button" class="btn btn-outline-light btn-block mx-2" data-toggle="tooltip" data-placement="right" title="Interview Register">
                  <!-- Interview List -->
                  <i class=" fa-solid fa-file-circle-plus"></i>
                </button>
                <span class="text-capitalize fs-5 d-none d-lg-inline text-light">
                Interview Register
              </span>
              </a>
              
            </div>

            <div class="row py-2 ">
              <a href="/posts/interview" class=""  style="text-decoration: none;">
                <button type="button" class="btn btn-outline-light btn-block mx-2" data-toggle="tooltip" data-placement="right" title="Add Vacancy">
                  <i class=" fa-solid fa-suitcase"></i>
                </button>
                <span class="text-capitalize fs-5 d-none d-lg-inline text-light">
                Add Vacancy
              </span>
              </a>
              
            </div>
            
            <div class="row py-2 ">
              <a href="/posts/student" class="" style="text-decoration: none;">
                <button type="button" class="btn btn-outline-light btn-block mx-2"  data-toggle="tooltip" data-placement="right" title="Add Scholar">
                  <i class=" fa-solid fa-user-plus"></i>
                </button>
                <span class="text-capitalize fs-5 d-none d-lg-inline text-light">
                Add Scholar
              </span>
              </a>
              
            </div>         
          </nav>
          <section class="col-10">
              <%- body %>
          </section>
      </div>
    </div>
  <%}else{%>
    <%- body %>
  <%}%>
  


        
<%- include('_footer'); %>