<link href="/css/signin.css" rel="stylesheet">

<!-- bootstrap signin form -->
<div class="text-center min-vh-100 ">
    <main class="form-signin">
        <form action="/users/create-session" method="post">
            <h1 class="h3 my-3 fw-normal text-dark">Please sign in</h1>
            <div class="form-floating">
            <input type="email" class="form-control" id="floatingInput" name="email" autocomplete="false" placeholder="name@example.com" required>
            <label for="floatingInput">Email address</label>
            </div>
            <div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword" name="password" autocomplete="false" placeholder="Password" required>
            <label for="floatingPassword">Password</label>
            </div>
            <div class="my-4"></div>
            <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
        </form>
    </main>
</div>

<script src="/js/signin.js"></script>