
body{
    background-color: #f7f7f7;
}
.fixed-header{
    width: 100%;
    position: fixed;
    top: 0;
}
body .text-center{
    display: flex;
    align-items: center;
}
  
  

  .form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
  }
  
  .form-signin .checkbox {
    font-weight: 400;
  }
  
  .form-signin .form-floating:focus-within {
    z-index: 2;
  }
  
  .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  
  